<nav *ngIf="images.length > 0">
  <ul class="pagination">
    <li [appClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        *ngIf="checkWindowIndex(i)"
        [appClass]="{ active: i === currentPage }"
        class="page-item"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      [appClass]="{ disabled: currentPage === images.length - 1 }"
      class="page-item"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div *ngIf="images.length > 0">
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="image[currentPage].title" />
</div>

<ul *appTimes="currentPage">
  <li>Hi there!</li>
</ul>
