<nav *ngIf="images.length > 0">
  <ul class="pagination">
    <li [ngClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        *ngIf="checkWindowIndex(i)"
        [ngClass]="{ active: i === currentPage }"
        class="page-item"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
      class="page-item"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Current page is 0</div>
  <div *ngSwitchCase="1">Current page is 1</div>
  <div *ngSwitchCase="4">Current page is 4</div>
  <div *ngSwitchCase="5">Current page is 5</div>
  <div *ngSwitchDefault>Unknown current page</div>
</div>

<!-- <div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="image[currentPage].title" />
</div> -->
