<nav>
  <ul class="pagination">
    <li [ngClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
    </li>
    <li
      *ngFor="let image of images; let i = index"
      [ngClass]="{ active: i === currentPage }"
      class="page-item"
    >
      <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
    </li>
    <li
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
      class="page-item"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="image[currentPage].title" />
</div>
